<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.csaper6.csaproject1_mini_games3dtictactoemrshorr2016">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/joystick_512"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TicTacToe"
            android:screenOrientation="portrait"/>
        <activity android:name=".NumberCompare"
            android:screenOrientation="portrait"/>
        <activity android:name=".MathGame"
            android:screenOrientation="portrait"/>
        <activity android:name=".CoinFlip"
            android:screenOrientation="portrait"/>
        <activity android:name=".Stopwatch"
            android:screenOrientation="portrait"/>
        <activity android:name=".Mole"
            android:screenOrientation="portrait"/>
        <activity android:name=".Hypno"
            android:screenOrientation="portrait"/>
    </application>
    <uses-permission android:name="android.permission.VIBRATE"/>
</manifest>